.user-chat-message,
.chat-message {
  display: flex;
  position: relative;
}

.user-chat-message {
  text-align: right;
  float: right;
  clear: both;
}

.chat-message {
  clear: right;
}

.user-photo,
.photo {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 20px;
}

.user-photo {
  display: none;
}

.name,
.user-name,
.user-chat-bubble,
.chat-bubble {
  margin: 5px;
}

.user-name,
.name {
  margin-top: 10px;
  font-size: 13px;
  color: #a0a0a0;
}

.user-name {
  display: none;
}

.user-chat-bubble,
.chat-bubble {
  padding: 10px;
  border-radius: 15px;
}

.user-chat-bubble {
  background-color: #2e7ff8;
  margin-right: 20px;
  color: white;
}

.chat-bubble {
  background-color: #e7e7e7;
}

.comic-sent {
  position: absolute;
  right: 9px;
  bottom: 6px;
}

.comic-rec {
  position: absolute;
  bottom: 28px;
  left: 83px;
}
